.dropdown-toggle::after {
    display: none;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task label.checked {
    text-decoration: line-through;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters span.active {
    color: #0d59f2;
}

.filters span {
    margin-right: 5px;
    font-size: 15px;
    color: #666666;
    cursor: pointer;
}